<!DOCTYPE html>
<html>
  <head>
    {% include "common_header.j2" %}
    <title>conjecscore</title>
  </head>
  <body class="flex flex-col dark:bg-black dark:text-white h-screen">
    {% include "menubar.j2" %}
    <h1 class="p-8 font-bold text-4xl text-center">About</h1>
    <p class="max-w-screen mx-auto md:min-h-sm md:max-w-xl text-xl">
    conjecscore is a (semi-)serious site similar to sites like <a href="https://projecteuler.net/">Project Euler</a> but every problem is an unsolved mathematical problem. Instead, a score function (where a complete solution gives the ideal score) is used to guage <i>very</i> roughly how close you are to solving the problem.
    </p>
    <body>
</html>
