<!DOCTYPE html>
<html>
  <head>
    {% include "common_header.j2" %}
    <title>conjecscore</title>
  </head>
  <body class="flex flex-col dark:bg-black dark:text-white h-screen">
    {% include "menubar.j2" %}
    <h1 class="p-8 font-bold text-4xl text-center">About</h1>
    <p class="max-w-screen mx-auto md:min-h-sm md:max-w-xl text-xl">
    conjecscore is a (semi-)serious site similar to sites like <a class="text-sky-500" href="https://projecteuler.net/">Project Euler</a> but every problem is an unsolved mathematical problem. Instead, a score function (where a complete solution gives the ideal score) is used to gauge <i>very</i> roughly how close you are to solving the problem.
    </p>
    <p class="max-w-screen mx-auto md:min-h-sm md:max-w-xl text-xl">
    We emphasize <i>very</i> in "very roughly" above because we do not know the answers to these problems. It could be these score functions are even misleading. For instance, you may be asked to construct an object that does not actually exist. The point of this website is <i>not</i> to ensure you let the score function drive you, but instead be a fun way to engage in the problems, discuss with others, and <i>actively</i> think about problems instead of just letting them sit for a small few to attempt.
    </p>
    <p class="max-w-screen mx-auto md:min-h-sm md:max-w-xl text-xl">
    Furthermore, if you would like to see changes to score functions, problem descriptions, etc. please checkout the <a class="text-sky-500" href="https://github.com/thyrgle/conjecscore">Github</a> or join the discussion on <a class="text-sky-500" href="https://discord.gg/cDJ9rwWTKU">Discord</a>. We are always looking for ways to improve conjecscore!
    </p>
    <body>
</html>
