<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
<link rel="shortcut icon"
      href="{{ url_for('static', path='/images/butterfly.svg') }}"
      type="image/svg" />

<link rel="shortcut icon"
      media="(prefers-color-scheme: light)"
      href="{{ url_for('static', path='/images/butterfly.svg') }}"
      type="image/svg" />

<link rel="shortcut icon"
      media="(prefers-color-scheme: dark)"
      href="{{ url_for('static', path='/images/dark-mode-butterfly.svg') }}"
      type="image/svg" />
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [{
    "@type": "Organization",
    "name": "conjecscore",
    "url": "https://conjecscore.org",
    "description": "conjecscore is a (semi-)serious site similar to sites like Project Euler but every problem is an unsolved mathematical problem. Instead, a score function (where a complete solution gives the ideal score) is used to guage very roughly how close you are to solving the problem.",
  }]
}
</script>
