  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
  <link rel="shortcut icon"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />

  <link rel="shortcut icon"
        media="(prefers-color-scheme: light)"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />

  <link rel="shortcut icon"
        media="(prefers-color-scheme: dark)"
	href="{{ url_for('static', path='/dark-mode-butterfly.svg') }}"
	type="image/svg" />
