{% extends "problem_template.j2" %}

{% block title %}Perfect Euler Brick{% endblock %}

{% block problem_name %}Perfect Euler Brick{% endblock %}

{% block problem_description %}
  <p>
  An Euler brick, <a href="https://en.wikipedia.org/wiki/Euler_brick">according to Wikipedia,</a> <q>is a rectangular cuboid whose edges and face diagonaals all have integer lengths.</q>. To find an Euler Brick, one must satisfy the Diophantine system of equations:
  $$\begin{align*}
    a^2 + b^2 &= d^2 \\
    a^2 + c^2 &= e^2 \\
    b^2 + c^2 &= f^2
  \end{align*}$$
  that is, you must supply \(3\) integers \(a\), \(b\), and \(c\) (which correspond to the sides of the brick) such that \(a^2 + b^2\) is a square, \(a^2 + c^2\) is a square, and \(b^2 + c^2\) is also a square. A Perfect Euler Brick also requires that \(a^2 + b^2 + c^2\) is also a square. Although there are many examples of Euler Bricks, no example of a Perfect Euler Brick is known.
  </p>
{% endblock %}

{% block submission_format %}
  <p>
  Please submit a CSV file that contains \(3\) numbers. These numbers correspond to \(a, b, c\) as described above. In order to be scored, you must submit a valid <i>primitive</i> Euler Brick, that is, \(a, b\) and \(c\) are all coprime. Let \(K = a^2 + b^2 + c^2\) and \(m = \lfloor \sqrt{K} \rfloor\) and \(M = \lceil \sqrt{K} \rceil\). Then the score is computed as:

  $$\frac{\min\{K - m^2, M^2 - K\}}{M^2 - m^2} \times 10^9$$

  The goal is to minimize this score function and determine how close the Euler Brick is to being a Perfect Euler Brick.
  </p>
{% endblock %}
{% block score_func %}
from math import isqrt, gcd


def score(nums: list[int]):
    if len(nums) != 3:
        return None
    a, b, c = nums
    # Check to make sure it is a primitive Euler Brick
    if a <= 0 or b <= 0 or c <= 0:
        return None
    if gcd(a, gcd(b, c)) > 1:
        return None
    # a^2 + b^2 = d^2
    ab = a ** 2 + b ** 2
    if isqrt(ab) ** 2 != ab:
        return None
    # a^2 + c^2 = e^2
    ac = a ** 2 + c ** 2
    if isqrt(ac) ** 2 != ac:
        return None
    # b^2 + c^2 = f^2
    bc = b ** 2 + c ** 2
    if isqrt(bc) ** 2 != bc:
        return None
    # How close to a square is a^2 + b^2 + c^2?
    abc = a ** 2 + b ** 2 + c ** 2
    sml_sqrt = isqrt(abc)
    big_sqr = (sml_sqrt + 1) ** 2
    sml_sqr = sml_sqrt ** 2
    interval = big_sqr - sml_sqr
    bil = 10 ** 9
    return int((min(abc - sml_sqr, big_sqr - abc) * bil/ interval))
{% endblock %}
{% block filetype %}.csv{% endblock %}
