{% extends "problem_template.j2" %}

{% block problem_description %}
  <p>
  Call an \(n \times n\) matrix that is some arrangement of the elements \(1, \ldots, n^2\) a filled matrix. The Filled Determinant Problem asks what is the maximum value of the determinant of a filled matrix.
  </p>
  <p>
  Let \(M\) be an \(11 \times 11\) filled matrix that maximizes the determinant. It <a href="https://oeis.org/A085000">is known</a> that

  $$\det\left(M\right) \leq 470379650542113331346272 =: \mathcal{P}$$
  </p>
{% endblock %}

{% block submission_format %}
  <p>
  Please submit a CSV file that contains \(11 \times 11 = 121\) values that are some arrangement of \(1, \ldots, 121\). Each group of \(11\) numbers corresponds to a row of the \(11 \times 11\) matrix, call it \(M\). The best score corresponds to maximizing \(\frac{\det(M)}{\mathcal{P}} \times 10^9\).
  </p>
{% endblock %}
{% block score_func %}
import numpy as np
from sympy import Matrix


def score(mat: [int]):
    N = 11
    # Need 64 elements
    if len(set(mat)) != N * N:
        return None
    
    # Need all the elements 1, ..., 64
    need = set(range(1, N ** 2 + 1))
    if set(mat) != need:
        return None

    np_mat = np.reshape(mat, (N, N))
    sym_mat = Matrix(np_mat)
    P = 470379650542113331346272
    return int((sym_mat.det() / P) * 10 ** 9)
{% endblock %}
