<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>conjecscore</title>
  <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
  <link rel="shortcut icon"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />

  <link rel="shortcut icon"
        media="(prefers-color-scheme: light)"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />

  <link rel="shortcut icon"
        media="(prefers-color-scheme: dark)"
	href="{{ url_for('static', path='/dark-mode-butterfly.svg') }}"
	type="image/svg" />
</head>
<body class="dark:bg-black dark:text-white">
  <div class="flex h-screen justify-center items-center">
    <div class="text-center">
      <div class="flex justify-center">
        <img class="flex justify-center scale-50 md:scale-100 dark:invert"
	     src="{{ url_for('static', path='/butterfly.svg') }}"/>
      </div>
      <h1 class="text-4xl md:text-8xl">conjecscore</h1>
      <p class="text-2xl md:text-4xl">
        Mathematical competitions for solving the unsolved.
      </p>
      <div class="p-8">
        <a class="bg-green-500 text-white px-4 rounded text-2xl md:text-4xl p-2 transition duration-300 ease-in-out hover:bg-blue-500" 
           href="{{ url_for('problems') }}">
           Problems
        </a>
      </div>
    </div>
  </div>
<body>
</html>
