<!DOCTYPE html>
<html>
<head>
  <title>conjecscore</title>
  <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
  <link rel="shortcut icon"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />
</head>
<body>
  <div class="flex h-screen justify-center items-center">
    <div class="text-center">
      <div class="flex justify-center">
        <img class="flex justify-center"
      	     src="{{ url_for('static', path='/butterfly.svg') }}"/>
      </div>
      <h1 class="text-8xl">conjecscore</h1>
      <p class="text-4xl">
        Try your hand at some of the world's toughest problems. 
      </p>
      <a href="{{ url_for('problems') }}">
        Problems
      </a>
    </div>
  </div>
<body>
</html>
