<div class="row-span-3 bg-emerald-50 dark:bg-emerald-950 rounded-xl m-4">
  <h1 class="text-center font-bold grow content-center text-4xl p-4">
    Leaderboard
  </h1>
  <div id="leaderboard" 
       class="grid grid-cols-2 gap-4 justify-items-center pt-4">
    {% include 'leaders.j2' %}
  </div>	
</div>
