<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conway's 99 Conjecture</title>
  <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
  <link rel="shortcut icon"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />
  <link rel="shortcut icon"
        media="(prefers-color-scheme: light)"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />
  <link rel="shortcut icon"
        media="(prefers-color-scheme: dark)"
	href="{{ url_for('static', path='/dark-mode-butterfly.svg') }}"
	type="image/svg" />
  <script src="{{ url_for('static', path='/login.js') }}"></script>
</head>
<body class="dark:bg-black dark:text-white h-screen w-screen flex items-center p-4">
    <form id="form"
	  class="max-w-screen mx-auto dark:bg-gray-900 bg-white rounded p-6
                 ring-2 ring-blue-500/50">
      <div class="pb-8"><h1 class="text-center text-2xl font-bold">Log in</h1></div>
      <div class="flex items-center">
        <label for="username"
	       class="w-22 md:w-32 dark:text-gray-200 text-gray-700 font-semibold">
	  Email
	</label>
      </div>
      <div>
        <input type="email"
	       id="email"
	       name="email"
	       class="flex-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-400"
	       required />
        </div>
        <div class="mt-2 flex items-center">
	  <label for="password" 
		 class="w-22 md:w-32 dark:text-gray-200 text-gray-700 font-semibold">
            Password
	  </label>
	</div>
	<div>
	  <input type="password"
	         id="password"
		 name="password"
		 class="flex-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-400"
		 required />
        </div>
        <div class="flex justify-end">
	  <input type="submit"
		 id="submit"
		 value="Submit"
		 class="mt-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
	  </input>
        </div>
    </form>
    <div id="loginstatus">
      <!-- Prints whether person successfully logged in or not. -->
    </div>
</body>
</html>
