<html>
<head>
  <title>Conway's 99 Conjecture</title>
  <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
</head>
<body>
    <h1 class="text-center">Log in</h1>
    <form method="post" 
	  class="max-w-md mx-auto mt-8 bg-white p-6 rounded shadow">
      <div class="mb-4 flex items-center">
        <label for="username"
	       class="w-32 text-gray-700 font-semibold">
	  Email:
	</label>
        <input type="text"
	       id="email"
	       name="email"
	       class="flex-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-400"
	       required />
        </div>
        <div class="mb-4 flex items-center">
	  <label for="password" 
		 class="w-32 text-gray-700 font-semibold">
	    Password:
	  </label>
	  <input type="password"
	         id="password"
		 name="password"
		 class="flex-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-400"
		 required />
        </div>
        <div class="flex justify-end">
	  <input type="submit"
		 id="submit"
		 value="Submit"
		 class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
	  </input>
        </div>
    </form>
</body>
</html>
