{% extends "problem_template.j2" %}

{% block title %}Magic Square of Squares{% endblock %}

{% block js_verifier %}{{ url_for('static', path='/magicsos.js') }}{% endblock %}

{% block problem_name %}Magic Square of Squares{% endblock %}

{% block problem_description %}
  <p>
  The Magic Square of Squares Problem asks if there is a \(3\times3\) square with distinct square integers such that the rows, columns, and diagonals of the square all sum to the same value.
  </p>
{% endblock %}

{% block submission_format %}
  <p>
  Please submit a CSV file that contains \(9\) numbers. The order indicates which number appears in which cell, where the top left corner is the first number of the CSV and the bottom right corner is the last number of the CSV. Note that in order for a submission to be accepted, it must (1) consist of distinct entries and (2) each entry must be a square integer. If any of these two criterion are not satisfied, the entry will be rejected.
  </p>
  <p>
  For scoring, the sum of each column, row, and diagonal is computed. Thus, we get a collection of numbers, call them \(\mathcal{D}\). We take every \(d_1, d_2 \in \mathcal{D}\). Consider the binary representation of \(d_1\) and \(d_2\), call them \(b_1\) and \(b_2\), respectively. Either apply a penalty of \(10^6\) if \(|b_1| \neq |b_2|\) or we consider the longest common suffix between \(b_1\) and \(b_2\), call it \(p\) and compute \(\left(1 - \frac{p}{|b_1|}\right)\times 10^6\). The score is the average of all such values.
  </p>
{% endblock %}

{% block filetype %}.csv{% endblock %}
