<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Problems</title>
  <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
  <link rel="shortcut icon"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />

  <link rel="shortcut icon"
        media="(prefers-color-scheme: light)"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />

  <link rel="shortcut icon"
        media="(prefers-color-scheme: dark)"
	href="{{ url_for('static', path='/dark-mode-butterfly.svg') }}"
	type="image/svg" />
</head>
<body class="dark:bg-black dark:text-white h-full">
  {% include "menubar.j2" %}
  <h1 class="p-4 text-4xl text-center">Problems</h1>
  <div class="md:p-8 p-4 grid grid-cols-1 md:grid-cols-3 md:gap-8 gap-4 md:min-h-[700px]">
    {%- for link, name in problems %}
      <div class="p-4 text-center dark:bg-gray-900 bg-white rounded shadow">
	<a href="/problems/{{ link }}">
	  {{ name }}
        </a>
      </div>
    {%- endfor %}
  </div>
</body>
</html>
