<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Problem Title{% endblock %}</title>
  <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
  <link rel="shortcut icon"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />
  <script id="MathJax-script" 
	  async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js" >
  </script>
  <script type="importmap">
    {
      "imports": {
	"ts-pattern": "https://cdn.jsdelivr.net/npm/ts-pattern@5.9.0/+esm",
	"decimal.js": "https://cdn.jsdelivr.net/npm/decimal.js@10.3.1/+esm",
	"mathjs": "https://cdn.jsdelivr.net/npm/mathjs@15.1.0/+esm"
      }
    }
  </script>
  <script type="module" src="{% block js_verifier %}{% endblock %}"></script>
</head>
<body class="dark:bg-black dark:text-white h-dvh">
  <div class="grid grid-cols-[8rem_auto_8rem] justify-stretch bg-emerald-950 p-6">
    <div class="text-emerald-50 font-bold">
      <a href="{{ url_for('root') }}">conjecscore</a>
    </div>
    <div></div>
    <div class="text-emerald-50 font-bold">
      {% if user == None %}
        <a href="{{ url_for('login') }}">Login</a>
	/ <a href="{{ url_for('register') }}">Sign up</a>
      {% else %}
        {{ user.nickname }} <a href="{{ url_for('logout') }}" class="ml-3 opacity-80 hover:opacity-100 transition-opacity">Logout</a>
      {% endif %}
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 h-full m-4">
    <div class="h-full">
      <h1 class="text-center font-bold content-center text-4xl p-4">
	{% block problem_name %}A Problem{% endblock %}
      </h1>
      <h2 class="font-bold text-3xl">The Problem</h2>
      {% block problem_description %}
        <p>Description of problem</p>
      {% endblock %}
      <h2 class="font-bold text-3xl">Submission Format</h2>
      {% block submission_format %}
        <p>This is how you should submit the problem.</p>
      {% endblock %}
    </div>
    <div class="row-span-full bg-emerald-50 dark:bg-emerald-950 rounded-xl m-4 h-full">
      <h1 class="text-center font-bold grow content-center text-4xl p-4">
        Leaderboard
      </h1>
      <ol>
        {%- for entry in leaderboard %}
	  <li>
            <div class="flex p-2">
              <div class="flex-1 text-center">
                {{ entry.account_name }}
              </div>
              <div class="flex-1 text-center">
                {{ entry.score }}
              </div>
            </div>
	  </li>
        {%- endfor %}
        </ol>
    </div>
    <form id="form" class="w-full md:px-3" method=POST>
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
	<div>
	  <input class="bg-sky-200 rounded-xl p-3 my-3 font-bold transition duration-300 ease-in-out hover:bg-emerald-200 dark:hover:bg-green-500 dark:bg-blue-500 w-full" 
	          type="file" 
                  id="submission"
                  accept="{% block filetype %}.json{% endblock %}"
		  name="submission"></input>
	</div>
	<div>
          <input class="bg-sky-200 transition duration-300 ease-in-out hover:bg-emerald-200 dark:hover:bg-green-500 rounded-xl p-3 my-3 text-center font-bold dark:bg-blue-500 w-full"
	          type="submit"
		  value="Submit">
	</div>
	<div id="status"
	         class="m-4 p-3 font-bold md:col-span-2">
	      <!-- For status of submission. -->
	</div>
      </div>
    </form>
  </div>
</body>
</html>
