<!DOCTYPE html>
<html>
<head>
  {% include "common_header.j2" %}
  <title>{{ problem_title }}</title>
  {% include "problem-libraries.j2" %}
</head>
<body class="dark:bg-black dark:text-white md:max-h-dvh h-dvh">
  {% include "menubar.j2" %}
  <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-4 gap-4 m-4 h-[calc(100dvh-90px)]">
    {% include 'leaderboard.j2' %}
    <div class="row-span-4 md:max-h-full md:overflow-auto">
      <h1 class="text-center font-bold content-center text-4xl p-4">
        {{ problem_title }}
      </h1>
      <h2 class="font-bold text-3xl my-4">The Problem</h2>
      {% block problem_description %}
        <p>Description of problem</p>
      {% endblock %}
      <h2 class="font-bold text-3xl my-4">Submission Format</h2>
      {% block submission_format %}
        <p>This is how you should submit the problem.</p>
      {% endblock %}
      <h2 class="font-bold text-3xl my-4">Score Implementation</h2>
      <p>The following is a Python implementation of the score function to help you get started.</p>
      <pre><code>{% block score_func %}{% endblock %}</code></pre>
    </div>
    <div class="grid row-span-1 grid-cols-1 md:gap-4 md:max-h-full md:grid-cols-2">
    {% include 'submission-form.j2' %}
    </div>
  </div>
  {% include 'make-problem.j2' %}
</body>
</html>
