<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Problems</title>
  <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
  <link rel="shortcut icon"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg">
</head>
<body class="dark:bg-black dark:text-white h-full">
  {% include "menubar.j2" %}
  <h1 class="p-4 text-4xl text-center">Problems</h1>
  <ol class="p-4 text-center text-2xl">
    {%- for link, name in problems %}
      <li class="p-4">
	<a href="/problems/{{ link }}">
	  {{ name }}
        </a>
      </li>
    {%- endfor %}
  </ol>
</body>
</html>
