<!DOCTYPE html>
<html>
<head>
  {% include "common_header.j2" %}
  <title>{% block title %}Problem Title{% endblock %}</title>
  <script id="MathJax-script" 
	  async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js" >
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/dark.min.css">
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/languages/python.min.js"></script>
  <script>hljs.highlightAll();</script>
  <script type="importmap">
    {
      "imports": {
	"ts-pattern": "https://cdn.jsdelivr.net/npm/ts-pattern@5.9.0/+esm",
	"decimal.js": "https://cdn.jsdelivr.net/npm/decimal.js@10.3.1/+esm",
	"mathjs": "https://cdn.jsdelivr.net/npm/mathjs@15.1.0/+esm"
      }
    }
  </script>
  <script type="module" src="{% block js_verifier %}{% endblock %}"></script>
</head>
<body class="dark:bg-black dark:text-white md:max-h-dvh h-dvh">
  {% include "menubar.j2" %}
  <!-- Get rid of hard code 72 -->
  <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-4 gap-4 m-4 h-[calc(100dvh-90px)]">
    <div class="row-span-3 bg-emerald-50 dark:bg-emerald-950 rounded-xl m-4">
      <h1 class="text-center font-bold grow content-center text-4xl p-4">
        Leaderboard
      </h1>
      <ol>
        {%- for entry in leaderboard %}
	  <li>
            <div class="flex p-2">
              <div class="flex-1 text-center">
                {{ entry.account_name }}
              </div>
              <div class="flex-1 text-center">
                {{ entry.score }}
              </div>
            </div>
	  </li>
        {%- endfor %}
        </ol>
    </div>
    <div class="row-span-4 md:max-h-full md:overflow-auto">
      <h1 class="text-center font-bold content-center text-4xl p-4">
	{% block problem_name %}A Problem{% endblock %}
      </h1>
      <h2 class="font-bold text-3xl">The Problem</h2>
      {% block problem_description %}
        <p>Description of problem</p>
      {% endblock %}
      <h2 class="font-bold text-3xl">Submission Format</h2>
      {% block submission_format %}
        <p>This is how you should submit the problem.</p>
      {% endblock %}
      <h2 class="font-bold text-3xl">Score Implementation</h2>
      <p>The following is a Python implementation of the score function to help you get started.</p>
      <pre><code>{% block score_func %}{% endblock %}</code></pre>
    </div>
    <div class="row-span-1">
      <form id="form" class="md:max-h-full w-full md:px-3" method=POST>
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 md:max-h-full">
	  <div>
	    {% if submission_type == "file" %}	  
              <input class="bg-sky-200 rounded-xl p-3 my-3 font-bold transition duration-300 ease-in-out hover:bg-emerald-200 dark:hover:bg-green-500 dark:bg-blue-500 w-full" 
		     type="{{ submission_type }}" 
                     id="submission"
                     accept="{% block filetype %}.json{% endblock %}"
		     name="submission"></input>
            {% else %}
              <input class="border border-gray-300 rounded p-3 my-3 focus:outline-none focus:ring focus:border-blue-400 w-full"
                     type="{{ submission_type }}"
                     id="submission"
		     name="submission"></input>
            {% endif %}
          </div>
	  <div>
            <input class="bg-sky-200 transition duration-300 ease-in-out hover:bg-emerald-200 dark:hover:bg-green-500 rounded-xl p-3 my-3 text-center font-bold dark:bg-blue-500 w-full"
	            type="submit"
                    value="Submit">
	  </div>
	  <div id="status"
	           class="p-4 m-3 font-bold md:col-span-2">
	        <!-- For status of submission. -->
	  </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
