<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Problems</title>
  <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
  <link rel="shortcut icon"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />

  <link rel="shortcut icon"
        media="(prefers-color-scheme: light)"
	href="{{ url_for('static', path='/butterfly.svg') }}"
	type="image/svg" />

  <link rel="shortcut icon"
        media="(prefers-color-scheme: dark)"
	href="{{ url_for('static', path='/dark-mode-butterfly.svg') }}"
	type="image/svg" />
</head>
<body class="dark:bg-black dark:text-white h-full">
  {% include "menubar.j2" %}
  <h1 class="p-4 text-4xl font-bold text-center">Problems</h1>
  <div class="md:p-8 p-4 grid grid-cols-1 md:grid-cols-3 md:gap-8 gap-4 md:min-h-[700px]">
    {%- for link, name, image in problems %}
	    <div class="p-4 text-center dark:bg-gray-900 bg-white rounded 
                        ring-2 dark:ring-blue-500/50 grid grid-cols-1 ">
        <div>
	  <a href="/problems/{{ link }}">
          <h2 class="mx-auto font-bold text-2xl">
            {{ name }}
	  </h2>
	  </a>
	</div>
	<div class="items-center">
          <a href="/problems/{{ link }}">
	  <img class="dark:invert w-80 mx-auto"
	       src="{{ url_for('static', path='/' + image) }}"/>
	  </a>
	</div>
      </div>
    {%- endfor %}
  </div>
</body>
</html>
