<!DOCTYPE html>
<html>
<head>
  {% include "common_header.j2" %}
  <title>{{ user.nickname }}</title>
</head>
<body class="dark:bg-black dark:text-white h-full">
  {% include "menubar.j2" %}
  <h1 class="p-4 text-4xl font-bold text-center">{{ user.nickname }}</h1>
  <div class="md:p-8 p-4 grid grid-cols-1 md:grid-cols-3 md:gap-8 gap-4 md:min-h-[700px]">
    <div class="p-4 text-center dark:bg-gray-900 bg-white rounded 
                ring-2 dark:ring-blue-500/50 grid grid-cols-1 content-center">
      <div>
	<h2 class="mx-auto font-bold text-2xl">
          Cumulative Score
	</h2>
      </div>
      <div>
        <h2 class="mx-auto font-bold text-5xl">
          {{ cumulative | round }}
        </h2>
        </div>
	<div class="items-center">
	</div>
      </div>
    {%- for problem in problems.keys() %}
      <div class="p-4 text-center dark:bg-gray-900 bg-white rounded 
                  ring-2 dark:ring-blue-500/50 grid grid-cols-1 content-center">
        <div>
	  <a href="/problems/{{ problems[problem]["route"] }}">
          <h2 class="mx-auto font-bold text-2xl">
            {{ problems[problem]["title"] }}
	  </h2>
	  </a>
	</div>
	<div>
          <h2 class="mx-auto font-bold text-5xl">
	  {% if scores[problems[problem]["db_entry"]] == None %}
            No score.
          {% else %}
            {{ scores[problems[problem]["db_entry"]] }}
	  </h2>
	  <h2 class="mx-auto font-bold text-2xl">
            Norm: {{ norm_scores[problems[problem]["db_entry"]]|round(2, 'common')}}
	  </h2>
          {% endif %}
        </div>
	<div class="items-center">
	</div>
      </div>
    {%- endfor %}
  </div>
</body>
</html>
