<!DOCTYPE html>
<html>
<head>
  {% include "common_header.j2" %}	
  <title>conjecscore Users</title>
</head>
<body class="dark:bg-black dark:text-white">
  <h1 class="text-7xl">Users</h1>
  <ol>
    {%- for name in names %}
      <li>
	<!-- name is a tuple with one entry hence the [0] -->
	<div>{{ name[0] }}</div>
      </li>
    {%- endfor %}
  </ol>
</body>
</html>
